table,th,td {
            border: 1px solid black;
          
            padding: 6px;
            text-align: center;
            width: 300px; 
            height: 10px; 
        }
        img {
            max-width: 50px; 
            max-height: 50px; 
           
        }